@import "tailwindcss";

@theme {
  --color-background: rgba(245, 245, 245, 1);
  --color-card-background: rgba(255, 255, 255, 1);

  /* From material v3 kit on Figma */
  --color-primary: rgba(103, 80, 164, 1);
  --color-primary-container: rgba(234, 221, 255, 1);
  --color-on-primary-container: rgba(79, 55, 138, 1);
  --color-surface-tint: rgba(103, 80, 164, 1);
  --color-error: rgba(179, 38, 30, 1);
  --color-positive-default: rgba(2, 84, 45, 1);
  --color-positive-secondary: rgba(0, 153, 81, 1);
  --color-positive-tertiary: rgba(20, 174, 92, 1);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #F0F1F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply font-normal leading-1.5 antialiased text-black scheme-light-dark;
}

a {
  color: #646cff;
  text-decoration: inherit;

  @apply font-medium;
}
a:hover {
  color: #535bf2;
}

body {
  @apply m-0 flex place-items-center justify-center items-center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #EADDFF;
  transition: border-color 0.25s;

  @apply text-black cursor-pointer font-medium;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
