@import "tailwindcss";

@theme {
  --color-background: rgba(245, 245, 245, 1);
  --color-card-background: rgba(255, 255, 255, 1);

  /* Custom colors */
  --color-content-background: #F0F1F6;
  --color-side-panel-background: #F9FAFC;
  --color-sidebar-button-border: #d1d5db;
  --color-sidebar-button-color: #6b7280;
  --color-sidebar-title: #111827;
  --color-sidebar-entry: var(--color-sidebar-title);
  --color-sidebar-entry-subtext: var(--color-sidebar-button-color);
  --color-link: #646cff;
  --color-link-hover: #535bf2;

  /* From material v3 kit on Figma */
  --color-primary: rgba(103, 80, 164, 1);
  --color-primary-container: rgba(234, 221, 255, 1);
  --color-on-primary-container: rgba(79, 55, 138, 1);
  --color-surface-tint: rgba(103, 80, 164, 1);
  --color-error: rgba(179, 38, 30, 1);
  --color-positive-default: rgba(2, 84, 45, 1);
  --color-positive-secondary: rgba(0, 153, 81, 1);
  --color-positive-tertiary: rgba(20, 174, 92, 1);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply font-normal leading-1.5 antialiased text-black scheme-light-dark bg-content-background;
}

#root {
  @apply w-full;
}

@layer base {
  a {
    @apply font-medium text-link hover:text-link-hover decoration-inherit;
  }

  body {
    @apply m-0 flex place-items-center justify-center items-center;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: #eaddff;
    transition: border-color 0.25s;

    @apply text-black cursor-pointer font-medium border border-transparent hover:border-link;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
